/*  ==========================================================================
Blog
   ========================================================================== */

.menu-bar {
    background-color:  rgba(0, 132, 61, 0.85);
    margin-bottom: .5% !important;
    
    h3 {
        color:white;
        padding:1%;
        font-size: 18px;
        
         
        }

    }

    
.menu-bar :before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 80px solid #fff;
    border-left: 80px solid transparent;
    width: 0;
    }

.sub-menu {
    margin-left: 1%;
    color: grey;
}


.blog {
    
    .et_pb_gutters3 .et_pb_column {
            margin-right: 1.5%;
    }
    
.entry1 {
    padding: 15% 5%;
    background-color:indianred;
    

    h3 {
        color:white;
        
    }
    
    p {
        color:white;
    }
}

.entry2 {
    padding: 15% 5%;
    background-color: mediumpurple;
    

    h3 {
        color:white;
        
    }
    
    p {
        color:white;
    }
}
    
    .entry3 {
    padding: 15% 5%;
    background-color: deepskyblue;
    

    h3 {
        color:white;
        
    }
    
    p {
        color:white;
        }
    }
}