/*  ==========================================================================
Blog
   ========================================================================== */

.menu-bar {
    background-color:  rgba(0, 132, 61, 0.85);
    
    h3 {
        color:white;
        }

    }

    
.menu-bar :before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 80px solid #fff;
    border-left: 80px solid transparent;
    width: 0;
    }    