/* ==========================================================================
   Home
   ========================================================================== */


#home {
    padding: 0
}

#home .slider {
    margin-top: -190px;
    width: 100%;
    margin-bottom: 0!important
}

@media (max-width:980px) {
    #home .slider {
        margin: 0!important;
        padding: 0!important
    }
}

@media (max-width:375px) {
    #home #rev_slider_11_1_wrapper,
    #home .forcefullwidth_wrapper_tp_banner {
        height: 464px!important
    }
}

@media (max-width:500px) {
    #home #rev_slider_11_1_wrapper,
    #home .forcefullwidth_wrapper_tp_banner {
        height: 500px!important
    }
}

@media (max-width:1200px) {
    #home #rev_slider_11_1_wrapper,
    #home .forcefullwidth_wrapper_tp_banner {
        height: 1040px!important
    }
}

@media (min-width:981px) {
    #home .et_pb_row {
        padding: 0!important;
        margin-bottom: 0!important
    }
}

.button-list {
    color: #fff!important;
    font-size: 1.5em;
    width: 25%;
    margin-top: -1.7%;
    position: relative;
    text-align: center;
    float: left;
    margin-left: 57.7%;
    opacity: 0.9
}

.button-list a.button {
    width: 24%;
    float: right;
    padding: 2.2%;
    color: #fff;
    background-color: #00843D;
    margin-right: .5%
}

.button-list a.button i {
    margin-right: 2%
}

@media (max-width:1920px) {
    .button-list {
        margin-top: -1.9%;
        margin-left: 59.6%
    }
}

@media (max-width:1650px) {
    .button-list {
        width: 30%;
        margin-top: -2.3%;
        margin-left: 60.9%
    }
}

@media (max-width:1450px) {
    .button-list {
        margin-top: -2.4%
    }
}

@media (max-width:1200px) {
    .button-list {
        width: 36%;
        margin-top: -2.9%!important
    }
}

@media (max-width:980px) {
    .button-list {
        margin-top: 0!important;
        width: 100%!important;
        position: relative;
        margin-left: 0
    }
    .button-list a.button {
        width: 33%;
        padding: 3%
    }
    .button-list a.button.careers {
        margin-right: 0
    }
}
