/*  ==========================================================================
Leadership team 
   ========================================================================== */


#leaders {
    width: 100%;
    max-width: 100%;
    padding: 0px;
    .et_pb_row {
        padding: 0px 0px;
    }
    .leadership h2 {
        color: #00833c;
        text-transform: uppercase;
        font-size: 3.5em;
        font-weight: bold;
        padding-top: 3%;
        padding-bottom: 1%;
       
        /*@include breakpoint(max-width 370px) {
            font-size: 3em !important;
            width: 100%;
            margin-left: 0%;
            margin-bottom: 0%;
            padding-top: 4%;
        }*/
    }
    .team
    {
        .principals
        {
            margin-bottom: 0 !important;
        }
    }
    .featured {
        width: 100%;
        
        h2 {
        color: #00833c;
        text-transform: uppercase;
        font-size: 3.5em;
        font-weight: bold;
        padding-top: 5%;
            
        @include breakpoint(max-width 870px) {
            width: 80%;
            margin-left: 10%;
        }
        @include breakpoint(max-width 370px) {
            font-size: 3em;
            margin-left: 0%;
            margin-bottom: 0%;
            padding-top: 4%;
        }
    }
    }
    .featured-board {
        
        width: 100%;
        padding-top: 10%;
        position: static !important;
        
          h2 {
        color: #00833c;
        text-transform: uppercase;
        font-size: 3.5em;
        font-weight: bold;
         padding-top: 2%;
        padding-bottom: 2%;
        
        @include breakpoint(max-width 370px) {
            font-size: 3em;
            margin-bottom: 0%;
        }
    }
    }
    .boxes {
        width: 100%;
        margin-bottom: 4%;
        
         @include breakpoint(max-width 570px) {
            width: 80%;
        }
    }
}

 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        
    .featured-board  {
         
         padding: 0% 0% 3% 0% ;
     }
        
        .featured-board h2 {
         
         padding: 0% 0% 3% 13% !important;
     }
     
        .leadership h2 {
         padding: 4% 0% 0% 4% !important;
     }
        
         .boxes {
         width: 94% !important;
         padding-bottom: 5%;
     }
        

    }

 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1450px) {
        
    .featured-board h2 {
         
         padding: 0% 0% 3% 20% ;
     }
     
        

    }


    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        
   .featured-board h2 {
         
         padding: 0% 0% 3% 13% ;
     }
     
        .leadership h2 {
         padding: 2% 0% 2% 5% !important;
     }

    }

@media only screen and (max-width: 870px) {
    
    .featured-board  {
         
         padding: -10% 0% 0% 0% !important ;
     }

 .featured-board h2 {
    width: 80%;
    margin-left: 10%;
    }
}





 /* Small Devices, Tablets */ 
 @media only screen and (max-width : 768px) { 
     
     .featured-board  {
         
         padding: 0% 0% 3% 0% ;
     }
     
     .featured-board h2 {
         
         padding: 0% 0% 3% 13% ;
     }
     
        .leadership h2 {
         padding: 4% 0% 0% 4% !important;
     }
     
 }

 /* Tablet 600 Width */ 
 @media only screen and (max-width : 600px) { 
     
      .leadership h2 {
        
    padding: 40px 0px 0px 21px !important;
     }
     
     .featured-board h2 {
         
         padding: 0% 0% 3% 8% !important;
     }
     
     .boxes {
         width: 80% !important;
         padding-bottom: 5%;
     }
     
 } 

/* Extra Small Devices, Phones */ 
 @media only screen and (max-width : 480px) {  } 
 /* Custom, iPhone Retina */ 
 @media only screen and (max-width : 320px) {
     
        
}

