/*  ==========================================================================
Blog Post 
   ========================================================================== */

.et_post_meta_wrapper {
    display: none;
}

.menu-bar {
   background-color:  rgba(0, 132, 61, 0.85);
   margin-bottom: .5% !important;
    
    h3 {
        color:white;
        padding:1%;
        font-size: 18px;
        
         
        }

    }

    
.menu-bar :before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 80px solid #fff;
    border-left: 80px solid transparent;
    width: 0;
    }

.sub-menu {
    margin-left: 1%;
    color: grey;
}

#blog { 
    
    .content {
        
        width: 64%;
        margin-right: 4%;
   
    
   
.title {
    
    h2, h5 {
        font-weight: bold;
        font-style: italic;
    }  
    
}

.text {
    
    p {
        font-size: 1.5em;
        line-height: 1.5;
        font-weight: bold;
        color: black;
    }
}
    }
    
    
    .vertical_divider {
        width: 0;
        margin-right: 1.5%;
        
    }    
    .author_articles {
        
            width: 30%;
            left: 1.8%;
        
.about_author {
            
    background-color:  rgba(0, 132, 61, 0.85);
    margin-bottom: 10% !important;
    
    h3 {
        color:white;
        padding: 2%;
        font-size: 18px;
        
         
        }
    
   


    }
        
    .about_author :before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 80px solid #fff;
    border-left: 80px solid transparent;
    width: 0;
    }    
        }        
        
    .bio {
        
    h4 {
        line-height: 1em;
        font-weight: bold;
        
         
        }
     
    h6 {
        line-height: .5em !important;
        color: grey;
        font-size: 1.2em;
         
        }
        
    p {
        padding-bottom: 1em;
        width: 88%;
        }    
    }
}

/*  ==========================================================================
        Creative Blog Post 
   ========================================================================== */
.et_post_meta_wrapper {
    display: none;
}

.creative-bar {
 background-color:  rgba(0, 132, 61, 0.85);
      margin-bottom: .5% !important;
    
    h3 {
        color:white;
        padding:.6%;
        font-size: 1.4em;
        vertical-align: middle !important;
        
         
        }

    }

    
.creative-bar :before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 80px solid #fff;
    border-left: 80px solid transparent;
    width: 0;
    }

.creative-bar :after {
    
    background-color: greenyellow;
}

.sub-menu {
    margin-left: 1%;
    color: grey;
}

#blog { 
    
    .content {
        
        width: 64%;
        margin-right: 4%;
   
    
   
.title {
    
    h2, h5 {
        font-weight: bold;
        font-style: italic;
    }  
    
}

.text {
    
    p {
        font-size: 1.5em;
        line-height: 1.5;
        font-weight: bold;
        color: black;
    }
}
    }
    
    
    .vertical_divider {
        width: 0;
        margin-right: 1.5%;
        
    }    
    .author_articles {
        
            width: 30%;
            left: 1.8%;
        
.about_author {
            
    background-color:  rgba(0, 132, 61, 0.85);
    margin-bottom: 10% !important;
    
    h3 {
        color:white;
        padding: 2%;
        font-size: 18px;
        
         
        }
    
   


    }
        
    .about_author :before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 80px solid #fff;
    border-left: 80px solid transparent;
    width: 0;
    }    
        }        
        
    .bio {
        
    h4 {
        line-height: 1em;
        font-weight: bold;
        
         
        }
     
    h6 {
        line-height: .5em !important;
        color: grey;
        font-size: 1.2em;
         
        }
        
    p {
        padding-bottom: 1em;
        width: 88%;
        }    
    }
}