/* ==========================================================================
   Variables
   ========================================================================== */

// Color Variables

$WGI: #00843D;

// Text Sizes Vars. s- for size

$s-h1: 5em;
$s-h2: 4em;
$s-h3: 2.5em;
$s-p: 1.2em;

$color: bold;